
.board {

    margin-top: 70px;
}

.background{
    background :url('/static/img/sf.jpg');
}

.card {

    margin-top: 70px;
}

.navbar{
    background : #4682B4;
}

#"btn"{
    background : #87CEEB;
}

p {
    font-size: 33px;
    font-family: Helvetica, Arial, sans-serif;
}

.col-xs-12.col-sm-12.col-md-12.col-lg-12.board_block {
    height: 120px;
    background: url('/static/img/board9.jpg');
    font-size: 15px;
    font-family: Helvetica, Arial, sans-serif;
    font-style: oblique;
    font-weight: bold;
    color: black;
    border-radius: 20px;

}

.col-xs-12.col-sm-12.col-md-12.col-lg-12.card_block{
    height: 120px;
    background: url('/static/img/card2.jpg');
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-style: oblique;
    font-weight: normal;
    color: black;
    border-radius: 20px;

}

#delete{
    position: absolute;
    color : black;
    bottom: 0px;
    margin-bottom: 5px;
    margin-right: 5px;
}
