<!DOCTYPE html>
<html lang="en">
<head>
    <title>ProMan</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://bootswatch.com/cerulean/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="row">
            <nav class="navbar navbar-default navbar-fixed-top">
              <div class="row">
                  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                      <button id="boards_btn" name="home" class="btn btn-primary navbar-btn">BOARDS</button>
                  </div>
                  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center">
                      <button id="btn" name="home" class="btn btn-primary navbar-btn">ADD NEW BOARD</button>
                      <button id="new_card_btn" name="home" class="btn btn-primary navbar-btn">ADD NEW CARD</button>
                  </div>
              </div>
            </nav>
    </div>
    <h3 id ="board_name"></h3>
    <div class="new">
        <div class="popup" title="Create New Board">
            <input class=title type=textfield id="board_title"/>
            <button id="save" name="home" class="btn btn-primary navbar-btn">SAVE</button>
        </div>
        <div class="popup2" title="Create New Card">
            <input class=title type=textfield id="card_title"/>
            <button id="save_card" name="home" class="btn btn-primary navbar-btn">SAVE</button>
        </div>
    </div>
    <div class="container-fluid board row">
    </div>
    <div class="container-fluid card row">
    </div>

<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/themes/base/jquery-ui.css" type="text/css" media="all" />
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.5.min.js" type="text/javascript"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js" type="text/javascript"></script>
<script type="text/javascript" src="{{ url_for('static', filename='prototype.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>

</body>

</html>
