<!DOCTYPE html>
<html lang="en">
<head>
    <title>ProMan</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://bootswatch.com/cerulean/bootstrap.min.css">
    <script src="/static/scipt.js"></script>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div>
            <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
              <div class="container text-center">
                  <button name="home" class="btn btn-primary navbar-btn">HOME</button>
              </div>
            </nav>
        </div>

<div class="board">
</div>

<div class="card">
</div>



</body>
</html>
